<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dht</title>


    <style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
            width: 30%;
		}
	</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div>
    <h2>this is group 2 iot group project interfacing dht with rasberry pi</h2>
    </div>
<div>
    <table>
		<tr>
			<th>TIME</th>
			<th>TEMPRATURE</th>
            <th>HUMIDITY</th>
		</tr>
        {% for i in data %}
		<tr>
            <td>{{ i.time_red}}</td>
			<td>{{ i.temprature}}</td>
            <td>{{ i.humidity}}</td>
		
		</tr>
        {%endfor%}
	</table>

</div>
<div style="text-align: center;">
<form>
{%csrf_token%}
<input style="background-color: crimson;"type="submit"value="REGENERATE">

</form>
</div>    
</body>
</html>